# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
/storybook-static
.nyc_output

# production
/dist

# css which compile by sass
src/**/*.css

/.vscode

.idea/
